
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
	padding: 0;
	margin: 0;
}

h1 {
font-family: 'Pacifico', cursive;
font-size: 50px;
padding-top: 20px;
/*1em = 16px*/
}

body {
	background: #000;
	text-align: center;
	color: #fff;
	font-family: 'Quicksand', sans-serif;;
}

img {
	width: 100%;
}

p {
	padding-top: 1em;
	padding-top: 1em;
	font-size: 1em;
 	width: 15em;
 	line-height: 1.5em;
}

#slogan {
	font-style: italic;
	font-size: 1.25em;
	padding-bottom: 20px; 
	padding-top: 5px;
}

ul {
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 5px;
}

a {
	color: #4826FF;
	text-decoration: none;
}